
<div class="controls">
  <div class="slides">
    <label for="angle">Angle: {{ (state$ | async)?.angle }}°</label>
    <input type="range" (input)="setAngle($event.target)" id="angle" min="1" max="181" step="1" [value]="((state$ | async)?.angle ?? 1) + 1">
  </div>
  <div class="divider"></div>
  <div class="slides">
    <label for="line">Line Width: {{ (state$ | async)?.lineWidth }} px</label>
    <input type="range" (input)="setLineWidth($event.target)" id="line" min="1" max="50" step="1" [value]="(state$ | async)?.lineWidth">
  </div>
  <div class="divider"></div>
  <div class="slides">
    <label for="side">Sides: {{ (state$ | async)?.sides }}</label>
    <input type="range" (input)="setSides($event.target)" id="side" min="1" max="10" step="1" [value]="(state$ | async)?.sides">
  </div>
  <div class="divider"></div>
  <div class="slides">
    <label for="scale">Scale: {{ (state$ | async)?.scale?.toFixed(2) }}</label>
    <input type="range" (input)="setScale($event.target)" id="scale" min="0.4" max="0.6" step="0.02" [value]="(state$ | async)?.scale?.toFixed(2)">
  </div>
  <div class="divider"></div>
  <div class="slides">
    <label for="deept">Deept: {{ (state$ | async)?.deept }}</label>
    <input type="range" (input)="setMaxDeept($event.target)" id="deept" min="1" max="4" step="1" [value]="(state$ | async)?.deept">
  </div>
  <div class="divider"></div>
  <div class="slides">
    <label for="branches">Branches: {{ (state$ | async)?.branches }}</label>
    <input type="range" (input)="setBranches($event.target)" id="branches" min="1" max="3" step="1" [value]="(state$ | async)?.branches">
  </div>
  <div class="divider"></div>
  <button (click)="randomize()">Random</button>
</div>
